* {
    padding: 0;
    margin: 0;
    background-color: black;
}
.head {
    width: 100vw;
    height: 100vh;
}
td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 2.5rem;
}

table {
    align-items: center;
    margin: 100px auto;
    background-color: white !important;
}

.endgame {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    font-size: 3rem;
    width: 300px;
    height: 50px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
}
.endgame .text {
    background-color: white;
    /* width: 200px; */
}

.glow-on-hover {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 220px;
    height: 50px;
    border: 2px solid white;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
